<!--<div *ngIf="!loading">-->
<div>
  <div class="filter">
    <input class="input" type="text" placeholder="Filter todo by title..." [(ngModel)]="searchString">
  </div>

<ul *ngIf="todosService.todos.length; else noTodos">
<!--<li *ngFor="let todo of todosService.todos | slice:190:210| todosFilter:searchString; let i=index">-->
<li *ngFor="let todo of todosService.todos| todosFilter:searchString; let i=index">
<span [class.done]="todo.completed">
<input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
{{todo.title}}
</span>
<small>
{{todo.date | date:'medium'}}
</small>
<button class="rm" (click)="removeTodo(todo.id)">x</button>
</li>
</ul>

<ng-template #noTodos>
<p style="text-align:center;">No todos now!</p>
</ng-template>
</div>
<!--<p *ngIf="loading">Loading ...</p>-->
